<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>コメダ記録一覧</title>
</head>
<body>
    <h2>コメダ珈琲店食べたメニュー一覧</h2>
    <table border="1">
        <tr><th>ID</th><th>メニュー名</th><th>分類</th><th>詳細</th></tr>
        <% let i = 0; %>
        <% for(let row of data) { %>
        <tr>
            <td><%= i %></td>
            <td><%= row.name %></td>
            <td><%= row.type %></td>
            <td><a href="/komeda/<%= i %>">詳細</a></td>
        </tr>
        <% i++; %>
        <% } %>
    </table>
    <p><a href="/">トップへ戻る</a></p>
    <p><a href="/komeda/create">新規登録</a></p>
</body>
</html>